.nav_container 
    .nav_menu_container
        .nav_menu_box
            .nav_menu 
                a(href=`${routes.home}`)  Home
            .nav_menu 
                a(href=`${routes.data}${routes.map}`)  Map
            .nav_menu 
                a(href=`${routes.data}${routes.popol}`)  Portpolio
    .nav_login_container 
        .dropdown
            button#dropdownMenuButton1.btn.btn-secondary.dropdown-toggle(type='button' data-bs-toggle='dropdown' aria-expanded='false')
                
            ul.dropdown-menu(aria-labelledby='dropdownMenuButton1')
                li
                    a.dropdown-item(href=`${routes.login}`) Login
                li 
                    a.dropdown-item(href=`${routes.user}${routes.userDetail}`) UserDetail
                li 
                    a.dropdown-item(href=`${routes.data}${routes.write}`) Write
                

